

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Besstbar</title>
        <link rel="stylesheet" href="css/general.css">
	    <link rel="stylesheet" href="css/contact.css">
		<script src="js/DataDrinks.js"></script>
        <script src="js/dbSaveDrinks.js"></script>
    </head>

      <body>
          <ul>
              <li>
                  <svg width="60" height="60" viewBox="0 0 200 200">
                      <!-- Circle -->
                      <circle cx="100" cy="100" r="80" fill="white" stroke="black" stroke-width="1.5" />

                      <path d="M 90,65 L 150,65 L 120,95 Z" fill="white" stroke="black" stroke-width="1.5" />

                      <!-- Blue Water -->
                      <path d="M 95,70 L 145,70 L 120,95 Z" fill="#F83600" stroke="black" stroke-width="1.5" />

                      <!-- Umbrella Cocktail -->
                      <line x1="85" y1="45" x2="115" y2="80" stroke="black" stroke-width="1.5" />
                      <path d="M 83,43 L 80,60 L 100,40 Z" fill="yellow" stroke="black" stroke-width="1.5" />
                      <line x1="83" y1="43" x2="95" y2="45" stroke="black" stroke-width="1.5" />
                      <line x1="83" y1="43" x2="87" y2="53" stroke="black" stroke-width="1.5" />

                      <!-- Line extending downward from the lowest point -->
                      <line x1="120" y1="95" x2="120" y2="135" stroke="black" stroke-width="1.5" />

                      <!-- Line perpendicular to the downward line -->
                      <line x1="105" y1="135" x2="135" y2="135" stroke="black" stroke-width="1.5" />

                      <!-- Text "Best bar" in the middle of the circle -->
                      <text x="53%" y="60%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="35px">Besst bar</text>
                  </svg>
              </li>
              <li><a href="templates/home.html">דף הבית</a></li>
              <li><a href="templates/events.html">אירועים וסדנאות</a></li>
              <li><a class="active" href="templates/contact.html">צור קשר</a></li>
          </ul>

          <div id="overlay"></div>
          <div id="popup" class="popup" onload="resetPopup()">
              <div class="popup-content">
                  <span class="close" onclick="closePopup()">&times;</span>
                  <img id="popup-img" alt="Popup Image">
              </div>
          </div>

          <form id="customersid">
              <table id="inner-table">
                  <tr>
                      <td width="10%">
                      </td>

                      <td width="40%">
                          <table>
                              </br>
                              <tr><h2 id="who">דברו איתנו</h2></tr>
                              <tr>
                                  <div id="social">

                                      <p id="c_tel"><span>איל: </span>050-8337314</p>
                                      <p id="c_email"><span>עומרי: </span>054-3197747</p>
                                      <a id="inst_black" href="https://www.instagram.com/besstbar"><img id="inst_black" src="" alt="אינסטה יפה"></a>
                                      <a id="tik_black" href="https://www.tiktok.com/@besstbar"><img id="tik_black" src="" alt="אינסטה יפה"></a>
                                  </div>
                              </tr>
                              <tr>
                                  <input class="text_style" type="text" id="fname" name="fname" placeholder="שם" onkeypress="openPopup()">
                                  <br />
                                  <input class="text_style" type="text" id="lname" name="lname" placeholder="שם משפחה" onkeypress="openPopup()">
                                  <br />
                                  <input class="text_style" type="text" id="mail" name="mail" placeholder="מייל" onkeypress="openPopup()">
                                  <br />
                                  <input class="text_style" type="number" id="phone" name="phone" placeholder="טלפון" onkeypress="openPopup()">
                                  <br />

                                  <select class="text_style" name="event" id="event">
                                      <option value="notSelected" disabled selected hidden>סוג אירוע</option>
                                      <option value="wedd">חתונה</option>
                                      <option value="sadna">סדנא</option>
                                      <option value="bday">יום הולדת</option>
                                  </select>
                                  <textarea class="text_style" type="text" id="notes" name="notes" value="blank" placeholder="הערות" onkeypress="openPopup()"></textarea>
                                  <br />


                                  </br>
                                  <div id="button_style">
                                      <input type="button" id="b-clear" name="clear" value="נקה טופס" onclick="cleanForm()">
                                      <input type="button" id="b-send" name="send" value="שלח" onclick="verifyInput()">


                                  </div>
                                  <canvas id="myCanvas" width="500" height="150"></canvas>
                                  </br>

                                  <p id="fmsg"></p>
                              </tr>
                          </table>
                      </td>

                      <td width="30%">
                          <img id="c_img" src="media/image8.png" alt="תמונה יפה"></br></br>
                          <img id="c_img2" src="media/image3-copy.jpg" alt="תמונה יפה">
                      </td>
                  </tr>
              </table>
          </form>
      </body></html>